<!DOCTYPE html>
<html lang="en">
<head>

<title>Campi</title>

<!--

Template 2099 Scenic

http://www.tooplate.com/view/2099-scenic

-->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">

<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="css/tooplate-style.css">

</head>
<body>

<!-- PRE LOADER -->
<div class="preloader">
     <div class="spinner">
          <span class="sk-inner-circle"></span>
     </div>
</div>


<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="/accueil" class="navbar-brand">Campi</a>
          </div>

          <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#inscription" class="smoothScroll">Inscrivez-vous</a></li>
                    <li><a href="#connexion" class="smoothScroll">Connectez-vous</a></li>

               </ul>
          </div>

     </div>
</div>


<!-- HOME -->
<section id="home" class="parallax-section">

 <video controls autoplay loop muted>
          <source src="videos/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
     </video>
    </div>


     <div class="container">
          <div class="row">

               <div class="col-md-10 col-sm-12">
                    <div class="home-text">
                         <h1>Le premier site dédié au camping en Tunisie.</h1>
                         <p>Présenté par le groupe Hytaco</p>


                    </div>
               </div>

          </div>
     </div>

     <!-- Video -->

</section>


<!-- ABOUT -->


<section id="inscription" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="section-title">
                         <h3>Inscription</h3>
                          <h4>Si vou n'avez pas encore un compte , veuillez en creér un en saisissant vos informations.</h4>
                    </div>
               </div>

               <div class="clearfix"></div>

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- inscription FORM HERE -->
                    <form id="inscription-form" action="#" method="get" role="form">

                         <!-- IF MAIL SENT SUCCESSFULLY -->
                         <h6 class="text-success">Your message has been sent successfully. </h6>

                         <!-- IF MAIL SENDING UNSUCCESSFULL -->
                         <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                         <div class="col-md-6 col-sm-6">
                              <input type="text" class="form-control" id="cf-nom" name="cf-nom" placeholder="Nom">
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-prenom" name="cf-prenom" placeholder="Prenom">
                         </div>

                        <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Adresse Email">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-mdp" name="cf-mdp" placeholder="Mot de passe">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-adresse" name="cf-adresse" placeholder="Adresse">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-tel" name="cf-tel" placeholder="Numéro de telephone">
                         </div>

                         <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                              <div class="section-btn">
                                   <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Envoyer">Envoyer</span></button>
                              </div>
                         </div>

                    </form>
               </div>

          </div>
     </div>
</section>


<section id="connexion" id="connexion" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="section-title">
                         <h3>Connexion</h3>
                          <h4>Si vous avez deja un compte , veuillez saisir vos informations pour pouvoir se connecter.</h4>
                    </div>
               </div>

               <div class="clearfix"></div>

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- connexion FORM HERE -->
                    <form id="connexion-form" action="#" method="get" role="form">

                         <!-- IF MAIL SENT SUCCESSFULLY -->
                         <h6 class="text-success">Your message has been sent successfully. </h6>

                         <!-- IF MAIL SENDING UNSUCCESSFULL -->
                         <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>


                        <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Adresse Email">
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-mdp" name="cf-mdp" placeholder="Mot de passe">
                         </div>


                         <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                              <div class="section-btn">
                                   <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Envoyer">Envoyer</span></button>
                              </div>
                         </div>

                    </form>
               </div>

          </div>
     </div>
</section>





<footer>




     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6">
                    <h3>Hytaco</h3>
                    <p>08 Rue Ibn Kholdoun , El Ghazela , <br>Riadh El Andalous</p>


               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                    	<h3>Restez en contact</h3>
                         <p><a href="tel:55039837">+216 55 039 837</a></p>
                         <p><a href="mailto:info@company.com">hytaco.group@gmail.com</a></p>
                         <p><a href="#">@ESPRIT</a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">

                    <h3>A propos de nous</h3>
                    <p>Nous somme un groupe de 6 personnes de l'etabliseement ESPRIT<br> avec une seule motivation , créer<br>le premier site de camping en Tunisie.</p>
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-instagram"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>

               </div>

               <div class="clearfix"></div>


          </div>
     </div>
</footer>


<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>