<!DOCTYPE html>
<html lang="en">
<head>

     <title>Campi</title>

     <!--

     Template 2099 Scenic

     http://www.tooplate.com/view/2099-scenic

     -->

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/magnific-popup.css">

     <link rel="stylesheet" href="css/owl.theme.css">
     <link rel="stylesheet" href="css/owl.carousel.css">

  <link rel="stylesheet" href="css/templatemo-green.css">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-style.css">


</head>
<body>

<!-- PRE LOADER -->
<div class="preloader">
     <div class="spinner">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<style type="text/css">
  
@media(min-width:768px) {
  .custom-navbar {
    background: #4dc47d; 
  }
  .custom-navbar.top-nav-collapse {
    background: #4dc47d;
    padding: 20px 0;
  }
}




</style>
<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="/accueil" class="navbar-brand">Campi</a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="/accueil#aboutproject" class="smoothScroll">Programmes</a></li>
                   <li><a href="/evenementf" class="smoothScroll">Evenements</a></li>
                   <li><a href="/accueil#aboutlocaux" class="smoothScroll">Locaux</a></li>
                   <li><a href="/accueil#team" class="smoothScroll">Categories</a></li>
                   <li><a href="/alertsf" class="smoothScroll">Alertes</a></li>
                   <li><a href="/accueil#alerts" class="smoothScroll">Reclamations</a></li>
                   <li><a href="/profilef" class="smoothScroll">Profile</a></li>
                   <li><a href="#" class="smoothScroll">Deconnexion</a></li>



               </ul>
          </div>

     </div>
</div>
<br><br><br><br><br>

 <div class="container">

    <div class="row">
 <div class="col-lg-3">

  
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

          <div class="row">



          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>






        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>

<footer>




     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6">
                    <h3>Hytaco</h3>
                    <p>08 Rue Ibn Kholdoun , El Ghazela , <br>Riadh El Andalous</p>


               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <h3>Restez en contact</h3>
                         <p><a href="tel:55039837">+216 55 039 837</a></p>
                         <p><a href="mailto:info@company.com">hytaco.group@gmail.com</a></p>
                         <p><a href="#">@ESPRIT</a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">

                    <h3>A propos de nous</h3>
                    <p>Nous somme un groupe de 6 personnes de l'etabliseement ESPRIT<br> avec une seule motivation , créer<br>le premier site de camping en Tunisie.</p>
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-instagram"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>

               </div>

               <div class="clearfix"></div>


          </div>
     </div>
</footer>


<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>